<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

       <context:annotation-config/>
       <context:component-scan base-package="com.github.zjor.telegram.bot.framework.service"/>

       <bean id="botToken" class="java.lang.String">
              <constructor-arg value="200885881:AAEb0OmQITvVXqAN0yoUqHMZXYyHG75uHwg"/>
       </bean>

       <bean class="com.github.zjor.telegram.bot.api.Telegram">
              <constructor-arg name="token" value="#{botToken}"/>
       </bean>

       <bean id="dispatcherExecutor" class="java.util.concurrent.Executors" factory-method="newFixedThreadPool">
              <constructor-arg value="2"/>
       </bean>

       <bean class="com.github.zjor.telegram.bot.framework.dispatch.Dispatcher" init-method="start" destroy-method="stop">
              <constructor-arg name="executor" ref="dispatcherExecutor"/>
       </bean>

       <bean class="com.github.zjor.telegram.bot.framework.dispatch.ContextResolver">
              <constructor-arg name="conversationDepth" value="2"/>
       </bean>

       <bean class="com.github.zjor.telegram.bot.framework.dispatch.UpdateHandler">
              <constructor-arg name="handlers">
                     <list>
                            <bean class="com.github.zjor.telegram.bot.framework.demo.echo.handlers.StartMessageHandler"/>
                     </list>
              </constructor-arg>

              <constructor-arg name="defaultMessageHandler">
                     <bean class="com.github.zjor.telegram.bot.framework.demo.echo.handlers.DefaultMessageHandler"/>
              </constructor-arg>

              <constructor-arg name="defaultErrorHandler">
                     <bean class="com.github.zjor.telegram.bot.framework.demo.echo.handlers.DefaultErrorHandler"/>
              </constructor-arg>
       </bean>

</beans>